{
  "data_file": "name_file.csv",
  "list_of_countries": [
    "United States of America",
    "Japan"
  ],
  "fps": 24,
  "seconds": 10,
  "colors": [
    "#1783ff",
    "#ff40d6",
    "#3617ff",
    "#9a17ff",
    "#17ff9e",
    "#17ff1f",
    "#95ff2b",
    "#fff82b",
    "#ffc32b",
    "#ff4545",
    "#1749ad",
    "#701010",
    "#db31de",
    "#15b9cf",
    "#2dcf15",
    "#941818",
    "#004491",
    "#5940ff",
    "#ffa640",
    "#ff409c",
    "#5040ff",
    "#22cad6",
    "#ffc32b"
  ],
  "language_selection": {
    "English": {
      "title": "Amount of tourists",
      "Austria": "Austria",
      "Bahrain": "Bahrain",
      "Canada": "Canada",
      "China": "China",
      "Egypt": "Egypt",
      "France": "France",
      "Germany": "Germany",
      "Greece": "Greece",
      "Italy": "Italy",
      "Malaysia": "Malaysia",
      "Mexico": "Mexico",
      "Poland": "Poland",
      "Russian Federation": "Russia",
      "Spain": "Spain",
      "Thailand": "Thailand",
      "Turkey": "Turkey",
      "Ukraine": "Ukraine",
      "United Kingdom": "UK",
      "United States of America": "USA",
      "Japan": "Japan",
      "Netherlands": "Netherlands"
    },
    "Russian": {
      "title": "КОЛИЧЕСТВО ТУРИСТОВ В СТРАНАХ",
      "Austria": "Австрия",
      "Bahrain": "Бахрейн",
      "Canada": "Канада",
      "China": "Китай",
      "Egypt": "Египет",
      "France": "Франция",
      "Germany": "Германия",
      "Greece": "Греция",
      "Italy": "Италия",
      "Malaysia": "Малайзия",
      "Mexico": "Мексика",
      "Poland": "Польша",
      "Russian Federation": "Россия",
      "Spain": "Испания",
      "Thailand": "Таиланд",
      "Turkey": "Турция",
      "Ukraine": "Украина",
      "United Kingdom": "Великобритания",
      "United States of America": "США",
      "Japan": "Япония",
      "Netherlands": "Нидерланды"
    },
    "Spanish": {
      "title": "Amount of tourists",
      "Austria": "",
      "Bahrain": "",
      "Canada": "",
      "China": "",
      "Egypt": "",
      "France": "",
      "Germany": "",
      "Greece": "",
      "Italy": "",
      "Malaysia": "",
      "Mexico": "",
      "Poland": "",
      "Russian Federation": "",
      "Spain": "",
      "Thailand": "",
      "Turkey": "",
      "Ukraine": "",
      "United Kingdom": "",
      "United States of America": "",
      "Japan": "",
      "Netherlands": ""
    }
}